.piedepagina{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 300px;
    height:100px ;
    text-align: center;
}

.redessociales{
    font-size: larger;
    
    
}